# Configuración del servidor Backend
ENVIRONMENT=development
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/app.log
LOG_BACKUP_COUNT=7
TEMP_DIRECTORY=/tmp
OCR_ENABLED=True
OCR_ENGINE=tesseract

# Configuración de seguridad
CORS_ALLOWED_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173"]

